<!DOCTYPE html>
<html>
    <body>
        <form action="/submit" method="post">
            <label for="car_year">Car year:</label>
            <input type="number" id="car_year" name="car_year"><br><br>
            
            <label for="engine">engine:</label>
            <input type="number" id="engine" name="engine"><br><br>

            <label for="max_power">max_power:</label>
            <input type="number" id="max_power" name="max_power"><br><br>

            <label for="transmission">transmission:</label>
            <input type="number" id="transmission" name="transmission"><br><br>

            <label for="owner">owner:</label>
            <input type="number" id="owner" name="owner"><br><br>

            <label for="km_driven">km_driven:</label>
            <input type="number" id="km_driven" name="km_driven"><br><br>

            <label for="fuel">fuel:</label>
            <input type="number" id="fuel" name="fuel"><br><br>

            <input type="submit" value="Submit">
        </form>
    </body>
</html>
